<%= javascript_include_tag "game" %>


<div><b><%= @user.username %></b> playing </div>

<% if !@game.has_started? %>
  <div>Waiting for player 2...</div>

<% else %>

  <div>You are playing against <b><%= @opponent_user.username%></b></div>

  <% if @game.is_players_turn?(@user) %>
    It is currently your turn, please select a location to launch missle.

  <% else %>
    Waiting for opponent to fire missle...

  <% end %>

  <br />


  <% @player_board.each do |rows| %>
    <% rows.each do |tile| %>
      <%= tile.ship_id.nil? ? '-' : tile.ship_id %>
    <% end %>
    <br />
  <% end %>

  Opponent's board
  <br />
  <% @opponent_board.each do |rows| %>
    <% rows.each do |tile| %>
      <% if tile.is_bombed %>
        <%= tile.ship_id.nil? ? 'O' : 'X' %>
      <% else %>
        <%= form_tag(game_fire_missile_path(:tile_id => tile.id, :game_id => @game.id), :method => "post") do %>
          <div onclick="$(this).parent().submit()">-</div>
        <% end %>
      <% end %>
      
    <% end %>
    <br />
  <% end %>



<% end %>

<%= javascript_tag do %>
<% if !@game.has_started? || !@game.is_players_turn?(@user) %>
<!--   setTimeout(function(){
    location.reload();
  }, 5000); -->
<% end %>
<% end %>