<%= javascript_include_tag "game" %>


<div><b><%= @user.username %></b> playing </div>

<% if !@game.has_started? %>
  <div>Waiting for player 2...</div>
<% else %>

  
  <% if @game.is_over? %>
    <div>Game Over</div>
    <div><%= @user.id == @game.winner_id ? "You" : @game.winner.username %> won</div>
  
  <% else %> 
    <div>You are playing against <b><%= @opponent_user.username%></b></div>

    <% if !@hit.nil? %>
      <% if @hit %>
        <div>HIT</div>
        <% if @sunk %>
          <div> AND SUNK </div>
        <% end %>
      <% else %>
        <% puts "...........#{@hit}......." %>
        <div>MISS</div>
      <% end %>
    <% end %>
    <% if @game.is_players_turn?(@user) %>
      It is currently your turn, please select a location to launch missle.
    <% else %>
      Waiting for opponent to fire missle...

    <% end %>
  <% end %>

  <br />

  <div class="game-board">
  Opponent's board
  <% @opponent_board.each do |rows| %>

    <div class="tile-row">
    <% rows.each do |tile| %>
      <% if tile.is_bombed %>
        <% if tile.ship_id.nil? %>
          <div class="box water">
            <div class="bombed water-bombed">O</div>
          </div>
        <% else %>
          <div class="box opponent-hit">
            <div class="bombed ship-bombed">X</div>
          </div>
        <% end %>
      <% else %>
        <% if !@game.is_over? && @game.is_players_turn?(@user) %>
          <div class="clickable-box">
          <%= form_tag(game_fire_missile_path(:tile_id => tile.id), :method => "post") do %>
            <div class="box can-fire opponent-unknown" onclick="$(this).parent().submit()"></div>
          <% end %>
          </div>
        <% else %>
            <div class="box opponent-unknown" /></div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  <% end %>

  </div>


  <div class="game-board">
  Your board
  <% @player_board.each do |rows| %>
    <div class="tile-row">
    <% rows.each do |tile| %>

      <% if tile.ship_id.nil? %>
        <div class="box water">
          <% if tile.is_bombed %>
            <div class="bombed water-bombed">O</div>
          <% end %>
        </div>
      <% else %>
        <div class="box player-ship-<%= tile.ship_id % @total_ships %>">
          <% if tile.is_bombed %>
            <div class="bombed ship-bombed">X</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>

  </div>
  



<% end %>

<%= javascript_tag do %>
<% if !@game.is_over? && (!@game.has_started? || !@game.is_players_turn?(@user)) %>
  var timer = setTimeout(function(){
    var url = "/game/index?game_id=<%= @game.id %>"
    window.location.href = url;
  }, 5000);

  $( "#site-name" ).click(function() {
    clearTimeout(timer);
  });
<% end %>
<% end %>