<%= javascript_include_tag "game" %>

<% if !@game.has_started? %>
  <div>Waiting for player 2...</div>
<% else %>

  
  <% if @game.is_over? %>
    <div class="game-text">Game Over</div>
    <div class="game-text"><%= @user.id == @game.winner_id ? "You" : @game.winner.username %> won!</div>
  
  <% else %> 
    <div class="game-info">
      <div class="game-text">You are playing against <b><%= @opponent_user.username%></b></div>

      <div class="game-text">
        <% if @game.is_players_turn?(@user) %>
          Your turn, please select a location
        <% else %>
          <b><%= @opponent_user.username%></b>'s turn. Waiting...
        <% end %>
      </div>
    </div>

    <div class="status-box">
    <% if !@hit.nil? %>
      <% if @hit %>
        <div class="hit-text">HIT
        <% if @sunk %>
          AND SUNK
        <% end %>

        </div>
      <% else %>
        <div class="miss-text">MISS</div>
      <% end %>
    <% end %>
    </div>
  <% end %>

  <div class="game-panel">
  <div class="game-board">

    <div class="board-text">Opponent's board</div>
  <% @opponent_board.each do |rows| %>

    <div class="tile-row">
    <% rows.each do |tile| %>
      <% if tile.is_bombed %>
        <% if tile.ship_id.nil? %>
          <div class="box water">
            <div class="bombed water-bombed <%= get_most_recent_bomb_class(tile, @last_move[@user.id]) %>">O</div>
          </div>
        <% else %>
          <div class="box opponent-hit">
            <div class="bombed ship-bombed <%= get_most_recent_bomb_class(tile, @last_move[@user.id]) %>">X</div>
          </div>
        <% end %>
      <% else %>
        <% if !@game.is_over? && @game.is_players_turn?(@user) %>
          <div class="clickable-box">
          <%= form_tag(game_fire_missile_path(:tile_id => tile.id), :method => "post") do %>
            <div class="box can-fire opponent-unknown" onclick="$(this).parent().submit()"></div>
          <% end %>
          </div>
        <% else %>
            <div class="box opponent-unknown" /></div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  <% end %>

  </div>


  <div class="game-board">
    <div class="board-text">Your board</div>
  <% @player_board.each do |rows| %>
    <div class="tile-row">
    <% rows.each do |tile| %>

      <% if tile.ship_id.nil? %>
        <div class="box water">
          <% if tile.is_bombed %>
            <div class="bombed water-bombed <%= get_most_recent_bomb_class(tile, @last_move[@opponent_user.id]) %>">O</div>
          <% end %>
        </div>
      <% else %>
        <div class="box player-ship-<%= tile.ship_id % @total_ships %>">
          <% if tile.is_bombed %>
            <div class="bombed ship-bombed <%= get_most_recent_bomb_class(tile, @last_move[@opponent_user.id]) %>">X</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>

  </div>
  </div> 



<% end %>

<%= javascript_tag do %>
<% if !@game.is_over? && (!@game.has_started? || !@game.is_players_turn?(@user)) %>
  var timer = setTimeout(function(){
    var url = "/game/index?game_id=<%= @game.id %>"
    window.location.href = url;
  }, 5000);

  $( "#site-name" ).click(function() {
    clearTimeout(timer);
  });
<% end %>
<% end %>