<!DOCTYPE html>
<html>
<head>
  <title>BattleShip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="header-content">
      <%= render "shared/header" %>
    </div>
    <div id="body-content">
      <%= yield %>
    </div>
</body>
</html>
